.head {
    background-image: url("../src/baner_v1.png");
}

.head span {
    font-size: xx-large;
    color: azure;
}

body {
    background-color: #00091f;
    
}

.h-f {
    padding-left: 15px;
    padding-right: 15px;
}

.content {
    margin: 15%;
    margin-top: 0%;
    margin-bottom: 3%;
    padding-top: 50px;
    text-align: center;
}

table {
    margin-top: 50px;
}
 
#tr {
    margin: 5px;
}

#link {
    text-decoration: none;
    color: #00091f;
}

.tab {
    margin: 5px 0px 5px 0px;
}
